@font-face {
font-family: 'AdhesiveNr.SevenRegular';
src: url('AdhesiveNrSevenBanners-webfont.eot');
src: url('AdhesiveNrSevenBanners-webfont.eot?#iefix') format('embedded-opentype'), url('AdhesiveNrSevenBanners-webfont.ttf') format('truetype'), url('AdhesiveNrSevenBanners-webfont.woff') format('woff'), url('AdhesiveNrSevenBanners-webfont.svg#AdhesiveNr.SevenRegular') format('svg');
font-weight: normal;
font-style: normal;
}
