@font-face {
font-family: 'AganèSRegular';
src: url('Aganè 55 (roman) sign-webfont.eot');
src: url('Aganè 55 (roman) sign-webfont.eot?#iefix') format('embedded-opentype'), url('Aganè 55 (roman) sign-webfont.ttf') format('truetype'), url('Aganè 55 (roman) sign-webfont.woff') format('woff'), url('Aganè 55 (roman) sign-webfont.svg#AganèSRegular') format('svg');
font-weight: normal;
font-style: normal;
}
