@font-face {
font-family: 'AileronBlackItalic';
src: url('Aileron-BlackItalic-webfont.eot');
src: url('Aileron-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'), url('Aileron-BlackItalic-webfont.ttf') format('truetype'), url('Aileron-BlackItalic-webfont.woff') format('woff'), url('Aileron-BlackItalic-webfont.svg#AileronBlackItalic') format('svg');
font-weight: normal;
font-style: normal;
}
