@font-face {
font-family: 'AganèExtraBold';
src: url('Aganè 75 (Extra Bold)-webfont.eot');
src: url('Aganè 75 (Extra Bold)-webfont.eot?#iefix') format('embedded-opentype'), url('Aganè 75 (Extra Bold)-webfont.ttf') format('truetype'), url('Aganè 75 (Extra Bold)-webfont.woff') format('woff'), url('Aganè 75 (Extra Bold)-webfont.svg#AganèExtraBold') format('svg');
font-weight: normal;
font-style: normal;
}
