@font-face {
font-family: 'AganèSBold';
src: url('Aganè 65 (Bold) sign-webfont.eot');
src: url('Aganè 65 (Bold) sign-webfont.eot?#iefix') format('embedded-opentype'), url('Aganè 65 (Bold) sign-webfont.ttf') format('truetype'), url('Aganè 65 (Bold) sign-webfont.woff') format('woff'), url('Aganè 65 (Bold) sign-webfont.svg#AganèSBold') format('svg');
font-weight: normal;
font-style: normal;
}
