@font-face {
font-family: 'AileronBlack';
src: url('Aileron-Black-webfont.eot');
src: url('Aileron-Black-webfont.eot?#iefix') format('embedded-opentype'), url('Aileron-Black-webfont.ttf') format('truetype'), url('Aileron-Black-webfont.woff') format('woff'), url('Aileron-Black-webfont.svg#AileronBlack') format('svg');
font-weight: normal;
font-style: normal;
}
