@font-face {
font-family: 'AganèBold';
src: url('Aganè 65 (Bold)-webfont.eot');
src: url('Aganè 65 (Bold)-webfont.eot?#iefix') format('embedded-opentype'), url('Aganè 65 (Bold)-webfont.ttf') format('truetype'), url('Aganè 65 (Bold)-webfont.woff') format('woff'), url('Aganè 65 (Bold)-webfont.svg#AganèBold') format('svg');
font-weight: normal;
font-style: normal;
}
