@font-face {
font-family: 'AganèLight';
src: url('Aganè 45 (light)-webfont.eot');
src: url('Aganè 45 (light)-webfont.eot?#iefix') format('embedded-opentype'), url('Aganè 45 (light)-webfont.ttf') format('truetype'), url('Aganè 45 (light)-webfont.woff') format('woff'), url('Aganè 45 (light)-webfont.svg#AganèLight') format('svg');
font-weight: normal;
font-style: normal;
}
