@font-face {
font-family: 'AbhayaLibreRegular';
src: url('AbhayaLibre-Regular-webfont.eot');
src: url('AbhayaLibre-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('AbhayaLibre-Regular-webfont.ttf') format('truetype'), url('AbhayaLibre-Regular-webfont.woff') format('woff'), url('AbhayaLibre-Regular-webfont.svg#AbhayaLibreRegular') format('svg');
font-weight: normal;
font-style: normal;
}
