@font-face {
font-family: 'ActionManShadedRegular';
src: url('Action_Man_Shaded-webfont.eot');
src: url('Action_Man_Shaded-webfont.eot?#iefix') format('embedded-opentype'), url('Action_Man_Shaded-webfont.ttf') format('truetype'), url('Action_Man_Shaded-webfont.woff') format('woff'), url('Action_Man_Shaded-webfont.svg#ActionManShadedRegular') format('svg');
font-weight: normal;
font-style: normal;
}
