@font-face {
font-family: 'AganèRegular';
src: url('Aganè 55 (roman)-webfont.eot');
src: url('Aganè 55 (roman)-webfont.eot?#iefix') format('embedded-opentype'), url('Aganè 55 (roman)-webfont.ttf') format('truetype'), url('Aganè 55 (roman)-webfont.woff') format('woff'), url('Aganè 55 (roman)-webfont.svg#AganèRegular') format('svg');
font-weight: normal;
font-style: normal;
}
