@font-face {
font-family: 'AbrilFatfaceRegular';
src: url('AbrilFatface-Regular-webfont.eot');
src: url('AbrilFatface-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('AbrilFatface-Regular-webfont.ttf') format('truetype'), url('AbrilFatface-Regular-webfont.woff') format('woff'), url('AbrilFatface-Regular-webfont.svg#AbrilFatfaceRegular') format('svg');
font-weight: normal;
font-style: normal;
}
