@font-face {
font-family: 'ABeeZeeItalic';
src: url('ABeeZee-Italic-webfont.eot');
src: url('ABeeZee-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('ABeeZee-Italic-webfont.ttf') format('truetype'), url('ABeeZee-Italic-webfont.woff') format('woff'), url('ABeeZee-Italic-webfont.svg#ABeeZeeItalic') format('svg');
font-weight: normal;
font-style: normal;
}
