@font-face {
font-family: 'AileronBoldItalic';
src: url('Aileron-BoldItalic-webfont.eot');
src: url('Aileron-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('Aileron-BoldItalic-webfont.ttf') format('truetype'), url('Aileron-BoldItalic-webfont.woff') format('woff'), url('Aileron-BoldItalic-webfont.svg#AileronBoldItalic') format('svg');
font-weight: normal;
font-style: normal;
}
