@font-face {
font-family: 'AganèSExtraBold';
src: url('Aganè 75 (Extra Bold) sign-webfont.eot');
src: url('Aganè 75 (Extra Bold) sign-webfont.eot?#iefix') format('embedded-opentype'), url('Aganè 75 (Extra Bold) sign-webfont.ttf') format('truetype'), url('Aganè 75 (Extra Bold) sign-webfont.woff') format('woff'), url('Aganè 75 (Extra Bold) sign-webfont.svg#AganèSExtraBold') format('svg');
font-weight: normal;
font-style: normal;
}
